{% extends "base.html" %}

{% block title %} About Us {% endblock title %}

{% block content %}
<div style="background-color: #2E7F42">
<div class="container col-xxl-8 px-4 py-5" style="background-color: #2E7F42">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6"> <img src="./static/GLHclearbg.png" class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="700" height="500" loading="lazy"> </div>
        <div class="col-lg-6">
            <h1 class="display-5  lh-1 mb-3" style="color: white;">Our Aim</h1>
            <p class="lead" style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo erat nibh, non dictum lorem maximus in. Duis porta ipsum id dui faucibus posuere ut placerat ex. Nullam auctor sed leo vitae egestas. Duis ut purus sit amet magna finibus eleifend. Donec ultrices lobortis sapien vitae convallis. Nunc ac tellus vitae ante fringilla condimentum. Vivamus commodo quis ante nec ornare. Fusce facilisis turpis nec velit convallis elementum. Curabitur aliquet nisl quis tincidunt aliquam. Aliquam erat volutpat. Vivamus in malesuada purus..</p>
    </div>
    </div>
</div>
</div>

{% endblock %}