{% extends "base.html" %}

{% block title %} Add New Product {% endblock title %}

{% block content %}
<div class="formBackground" style="background-image: url(static/FarmLand.jpg)">
    <div class="formPage">
        <h1>Add Product</h1>
        {{ render_form(form) }}
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    </div>
</div>
{% endblock %}