{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="homeBackground" style="background-image: url(static/VegtablesImage.jpg)">
    <div class="homePage">
        <h1>Local Food</h1>
        <h1>Cheaper Food</h1>
        <h1>Eco-Friendly Food</h1>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" style="background-color: #2E7F42;">
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('/static/Farmer.jpg'); background-size: fit;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Help Local Farmers</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('/static/CO2.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Lower Carbon Emmisions</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('/static/Wallet.jpg'); background-size: cover;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Make Your Wallet Heavier</h3>

            </div>
        </div>
    </div>
</div>
{% endblock %}