{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %} Sign-up {% endblock %}

{% block content %}
<div class="formBackground" style="background-image: url(static/FarmLand.jpg)">
    <div class="formPage">
        <h1>Sign Up</h1>
        {{ render_form(form) }}
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="/login">login page</a>.
        </div>
    {% else %}
        <div class="notification is-danger">
            Already have an account. Go to <a href="/login">login page</a>.
        </div>
    {% endif %}
    {% endwith %}
    </div>
</div>
{% endblock %}